In [1]:
import pandas as pd

In [44]:
dataset = pd.read_csv('CKD.csv')
dataset.describe()

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,pcv,wc,rc
count,399.000000,399.000000,399.000000,399.000000,399.000000,399.000000,399.000000,399.000000,399.000000,399.000000,399.000000,399.000000,399.000000
mean,51.492308,76.459948,0.899749,0.395990,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,38.868902,8408.191126,4.705597
std,16.995379,13.492053,1.314769,1.041155,74.864224,49.336046,5.623758,9.215829,2.823323,2.715753,8.157274,2526.204544,0.841006
min,2.000000,50.000000,0.000000,0.000000,22.000000,1.500000,0.400000,4.500000,2.500000,3.100000,9.000000,2200.000000,2.100000
25%,42.000000,70.000000,0.000000,0.000000,101.000000,27.000000,0.900000,135.000000,4.000000,10.850000,34.000000,6950.000000,4.500000
50%,54.000000,76.459948,0.000000,0.000000,127.000000,44.000000,1.400000,137.528754,4.627244,12.518156,38.868902,8408.191126,4.705597
75%,64.000000,80.000000,2.000000,0.000000,150.000000,62.500000,3.077356,141.000000,4.800000,14.600000,44.000000,9400.000000,5.100000
max,90.000000,180.000000,5.000000,5.000000,490.000000,391.000000,76.000000,163.000000,47.000000,17.800000,54.000000,26400.000000,8.000000

In [3]:
dataset.head()

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,2.0,76.459948,c,3,0,normal,abnormal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,yes,no,yes
1,3.0,76.459948,c,2,0,normal,normal,notpresent,notpresent,148.112676,...,34.000000,12300.000000,4.705597,no,no,no,yes,poor,no,yes
2,4.0,76.459948,a,1,0,normal,normal,notpresent,notpresent,99.000000,...,34.000000,8408.191126,4.705597,no,no,no,yes,poor,no,yes
3,5.0,76.459948,d,1,0,normal,normal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,poor,yes,yes
4,5.0,50.000000,c,0,0,normal,normal,notpresent,notpresent,148.112676,...,36.000000,12400.000000,4.705597,no,no,no,yes,poor,no,yes

In [4]:
dataset = pd.get_dummies(dataset, drop_first=True)

In [5]:
dataset.head()

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes,classification_yes
0,2.0,76.459948,3,0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,False,False,False,False,False,False,True,True,False,True
1,3.0,76.459948,2,0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,True,False,False,False,False,False,True,False,False,True
2,4.0,76.459948,1,0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,True,False,False,False,False,False,True,False,False,True
3,5.0,76.459948,1,0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,True,False,False,False,False,False,True,False,True,True
4,5.0,50.000000,0,0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,True,False,False,False,False,False,True,False,False,True

In [6]:
dataset = dataset.astype(int)
dataset.head()

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes,classification_yes
0,2,76,3,0,148,57,3,137,4,12,...,0,0,0,0,0,0,1,1,0,1
1,3,76,2,0,148,22,0,137,4,10,...,1,0,0,0,0,0,1,0,0,1
2,4,76,1,0,99,23,0,138,4,12,...,1,0,0,0,0,0,1,0,0,1
3,5,76,1,0,148,16,0,138,3,8,...,1,0,0,0,0,0,1,0,1,1
4,5,50,0,0,148,25,0,137,4,11,...,1,0,0,0,0,0,1,0,0,1

In [7]:
independent = dataset.drop(['classification_yes'], axis=1)
dependent = dataset['classification_yes']

In [8]:
independent.head()

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,rbc_normal,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes
0,2,76,3,0,148,57,3,137,4,12,...,1,0,0,0,0,0,0,1,1,0
1,3,76,2,0,148,22,0,137,4,10,...,1,1,0,0,0,0,0,1,0,0
2,4,76,1,0,99,23,0,138,4,12,...,1,1,0,0,0,0,0,1,0,0
3,5,76,1,0,148,16,0,138,3,8,...,1,1,0,0,0,0,0,1,0,1
4,5,50,0,0,148,25,0,137,4,11,...,1,1,0,0,0,0,0,1,0,0

In [9]:
dependent.head()

0    1
1    1
2    1
3    1
4    1
Name: classification_yes, dtype: int32

In [10]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(independent,dependent, test_size = 0.3, random_state = 0, stratify=dependent)

In [11]:
x_train.head()

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,rbc_normal,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes
89,40,80,0,0,140,10,1,135,5,15,...,1,1,0,0,0,0,0,1,0,0
279,63,100,2,2,280,35,3,143,3,13,...,1,1,0,1,1,0,1,1,0,0
394,51,70,0,0,219,36,1,139,3,12,...,1,1,0,0,0,0,0,1,0,0
307,65,60,0,0,109,39,1,144,3,13,...,1,1,0,0,0,0,0,1,0,0
214,56,70,0,0,70,46,1,135,4,15,...,1,1,0,0,0,0,0,1,0,0

In [12]:
y_train.head()

89     0
279    1
394    1
307    0
214    0
Name: classification_yes, dtype: int32

In [13]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeClassifier
param_DTC = {'criterion' : ['gini', 'entropy', 'log_loss'],
              'splitter' : ['best', 'random'],
               'max_features' : ['sqrt', 'log2']}

Model_DTC = GridSearchCV(DecisionTreeClassifier(), param_DTC, refit=True, verbose=3, n_jobs=-1, error_score='raise')
Model_DTC = Model_DTC.fit(x_train,y_train)

Fitting 5 folds for each of 12 candidates, totalling 60 fits

In [14]:
best_model_DTC = Model_DTC.best_params_
print(best_model_DTC)

{'criterion': 'entropy', 'max_features': 'sqrt', 'splitter': 'random'}

In [15]:
y_pred_DTC = Model_DTC.predict(x_test)

In [16]:
from sklearn.metrics import confusion_matrix
cm_DTC = confusion_matrix(y_test, y_pred_DTC)
print(cm_DTC)

[[45  0]
 [ 6 69]]

In [17]:
from sklearn.metrics import classification_report
clf_report_DTC = classification_report(y_test, y_pred_DTC)
print(clf_report_DTC)

              precision    recall  f1-score   support

           0       0.88      1.00      0.94        45
           1       1.00      0.92      0.96        75

    accuracy                           0.95       120
   macro avg       0.94      0.96      0.95       120
weighted avg       0.96      0.95      0.95       120

In [18]:
from sklearn.ensemble import RandomForestClassifier
param_RFC = {'n_estimators' : [10,50,100], 'criterion' : ['gini', 'entropy', 'log_loss'], 'max_features' : ['sqrt', 'log2']}

Model_RFC = GridSearchCV(RandomForestClassifier(), param_RFC, refit=True, verbose=3, n_jobs=-1, error_score='raise')
Model_RFC = Model_RFC.fit(x_train,y_train)

Fitting 5 folds for each of 18 candidates, totalling 90 fits

In [19]:
best_model_RFC = Model_RFC.best_params_
print(best_model_RFC)

{'criterion': 'entropy', 'max_features': 'log2', 'n_estimators': 100}

In [20]:
y_pred_RFC = Model_RFC.predict(x_test)

In [21]:
cm_RFC = confusion_matrix(y_test, y_pred_RFC)
print(cm_RFC)

[[44  1]
 [ 2 73]]

In [22]:
clf_report_RFC = classification_report(y_test, y_pred_RFC)
print(clf_report_RFC)

              precision    recall  f1-score   support

           0       0.96      0.98      0.97        45
           1       0.99      0.97      0.98        75

    accuracy                           0.97       120
   macro avg       0.97      0.98      0.97       120
weighted avg       0.98      0.97      0.98       120

In [25]:
from sklearn.svm import SVC
param_SVC = {'kernel' : ['rbf', 'sigmoid', 'poly'], 'C' : [1,10,100,1000]}

Model_SVC = GridSearchCV(SVC(), param_SVC, refit=True, verbose=3, n_jobs=-1, error_score='raise' )
Model_SVC = Model_SVC.fit(x_train, y_train)

Fitting 5 folds for each of 12 candidates, totalling 60 fits

In [26]:
best_model_SVC = Model_SVC.best_params_
print(best_model_SVC)

{'C': 1000, 'kernel': 'rbf'}

In [27]:
y_pred_SVC = Model_SVC.predict(x_test)

In [28]:
cm_SVC = confusion_matrix(y_test, y_pred_SVC)
print(cm_SVC)

[[38  7]
 [10 65]]

In [29]:
clf_report_SVC = classification_report(y_test, y_pred_SVC)
print(clf_report_SVC)

              precision    recall  f1-score   support

           0       0.79      0.84      0.82        45
           1       0.90      0.87      0.88        75

    accuracy                           0.86       120
   macro avg       0.85      0.86      0.85       120
weighted avg       0.86      0.86      0.86       120

In [31]:
from sklearn.naive_bayes import GaussianNB
Model_GNB = GaussianNB()
Model_GNB = Model_GNB.fit(x_train, y_train)

In [32]:
y_pred_GNB = Model_GNB.predict(x_test)

In [33]:
cm_GNB = confusion_matrix(y_test, y_pred_GNB)
print(cm_GNB)

[[44  1]
 [ 1 74]]

In [34]:
clf_report_GNB = classification_report(y_test, y_pred_GNB)
print(clf_report_GNB)''

              precision    recall  f1-score   support

           0       0.98      0.98      0.98        45
           1       0.99      0.99      0.99        75

    accuracy                           0.98       120
   macro avg       0.98      0.98      0.98       120
weighted avg       0.98      0.98      0.98       120

In [39]:
from sklearn.neighbors import KNeighborsClassifier
param_KNN = {'n_neighbors' : [2,5,7,10], 'weights' : ['uniform', 'distance'], 'metric':['minkowski']}
Model_KNN = GridSearchCV(KNeighborsClassifier(), param_KNN, refit=True, verbose=3, n_jobs=-1, error_score='raise' )
Model_KNN = Model_KNN.fit(x_train, y_train)

Fitting 5 folds for each of 8 candidates, totalling 40 fits

AttributeError: 'Flags' object has no attribute 'c_contiguous'

In [40]:
from sklearn.neighbors import KNeighborsClassifier
Model_KNN = KNeighborsClassifier()
Model_KNN = Model_KNN.fit(x_train, y_train)

In [41]:
y_pred_KNN = Model_GNB.predict(x_test)

In [42]:
cm_KNN = confusion_matrix(y_test, y_pred_KNN)
print(cm_KNN)

[[44  1]
 [ 1 74]]

In [43]:
clf_report_KNN = classification_report(y_test, y_pred_KNN)
print(clf_report_KNN)

              precision    recall  f1-score   support

           0       0.98      0.98      0.98        45
           1       0.99      0.99      0.99        75

    accuracy                           0.98       120
   macro avg       0.98      0.98      0.98       120
weighted avg       0.98      0.98      0.98       120